HBox,
VBox {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.root {
    -fx-font-size: 14;
    -fx-text-fill: #ECECEC;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

GameOverPane {
    -fx-background-color: rgba(100, 0, 25, 0.5);
}

GameTopBar {
    -fx-background-color: white;
}

#tileButton {
    -fx-padding: 0;
    -fx-background-radius: 0;
}

